<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
</head>

<body>
<p>&nbsp;</p>
<p>Blood Donation Future Expectancy</p>
<p>
  <label for="textfield3">Recency:</label>
  	 <input type="text" name="textfield3" id="textfield3">
</p>
<p>
  <label for="textfield">Frequency:</label>
  <input type="text" name="textfield" id="textfield">
  <label for="textfield2"><br>
    <br>
  Monetary:</label>
  <input type="text" name="textfield2" id="textfield2">
&nbsp;</p>
<p>     
  <input name="submit" type="submit" id="submit" title="Predict" value="">
</p>
</body>
</html>
